*{
  margin: 0;
  padding: 0;
}
body{
  color: white;
  background-color: rgb(16, 17, 16);
}
nav{
  height: 80px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(58, 179, 94);
  position: relative;
}
nav::after{
  content: "";
  display: block;
  height: 0.002rem;
  bottom: 0;
  width: 100%;
  position: absolute;
}
nav h1{
  font-size: 35px;
}
.todos-list{
  width: 90%;
  margin: 30px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.todos{
  display: flex;
  position: relative;
  padding: 3px 0;
}
.todo-p{
  margin-left: 10px;
}
.cross{
  position: absolute;
  right: 15px;
  transform: rotate(45deg);
}
.todo-input{
  height: 30px;
  width: 70%;
  margin: 0 auto;
  border: 1px solid white;
  background-color: transparent;
}