*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: white;
  background-color: rgb(16, 17, 16);
}
nav{
  height: 80px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(58, 179, 94);
  position: relative;
}
nav h1{
  font-size: 35px;
}
.plus-icon{
  font-size: 30px;
  color: white;
}
.todos-list{
  width: 90%;
  margin: 30px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.todos{
  display: flex;
  position: relative;
  padding: 3px 0;
}
.todo-p{
  margin-left: 10px;
}
.cross{
  position: absolute;
  right: 0;
  transform: rotate(45deg);
}
.todo-input{
  height: 30px;
  width: 100%;
  border: 1px solid white;
  background-color: transparent;
  color:white;
  border-radius: 5px;
  padding: 0 10px;
}
.todo-input:focus{
  outline: 2px solid #289438b3;
  outline-offset: 2px;
}
.todo-input::placeholder{
  color:white;
}
.input-cont{
  width: 80%;
  margin: 0 auto;
}